body {
    color:#2F4F4F;
    background-color:ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

h1{

    color:#2F4F4F;
    font-family: Arial, Helvetica, sans-serif;
    font-size:  32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4
{
    color: #2b004d;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
    font-style: normal; 
}

h1 {
    font-size: 50px;
    text-align: center;
    color:white;
    margin: 0;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

h2
{
    color:darkmagenta;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;

} 

.foto-jany{ 
    width: 200px;
    border-radius: 50%;
    float:left;
    margin-right: 20px;
    margin-bottom: 30px;
    color:darkmagenta;
    border:solid 2px darkmagenta;
}

.paticka {
    background-color: #191970;
    color: white;
    text-align: center;
    padding: 10px 0;
 
}


table {
    border-spacing: 0;
}
th,
td{
    text-align: left;
    

}

th
{
    font-size: 16px;
    font-weight:lighter;
   border-bottom:solid 1px;



}
.uroven {
    text-align:left;
    padding-left: 50px;
}

section {
    padding: 20px 15%;
    overflow: auto;
}

.hlavicka {
    padding: 150px 50px;
   background-repeat: no-repeat;
   background-position:center ;
   background-size: cover;
}


.menu {
    margin:0;
    padding:0;
    text-align:center;
    background-color:#333134; 
    
}

.menu li{
  display:   inline-block;


}

menu a {
    display: inline-block;
    color:white;
    text-decoration: none;
    padding:30px;

}

.seznam_1{
    list-style-type:none;

}

li{
    font-weight: bold;
    padding-bottom: 10px;
    list-style-type: disc;
}

.vzdelani{
    padding-top: 250px;
    padding-left: 50px;



}





 
