body {
    color:#2F4F4F;
    background-color:ghostwhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

h1{

    color:#2F4F4F;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif; 
     
}

h1,
h2,
h3,
h4
{
    color: #2b004d;
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
    font-style: normal; 
}

h1 {
    font-size: 70px;
    text-align: center;
    color:white;
    margin: 0;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}



h2
{
    color:darkmagenta;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;

} 

h3{
    font-size: 24px;
}

.foto-jany{ 
    width: 200px;
    border-radius: 50%;
    float:left;
    margin: 0 30px 30px 50px;
    color:darkmagenta;
    border:solid 2px darkmagenta;
  
}

.paticka {
    background-color: #26262c;
    color: white;
    text-align: center;
    padding: 10px 0;
 
}


table {
    border-spacing: 0;
}
th,
td{
    text-align: left;
    
    

}

th
{
    font-size: 20px;
    font-weight:lighter;
   border-bottom:solid 1px;
   background-color: #bda1cb;
   color:snow;
   font-weight: bold;



}
.uroven {
    text-align:left;
    padding-left: 10px;
}

section {
    padding: 50px 15%;
    overflow: auto;
}

.hlavicka {
    padding: 100px 50px;
    background-image:url(Obrázky/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 150px 30px;
}



.menu {
    margin-top:250px;
    padding:0;
    text-align:center;
    background-color:#aaa4ad; 
    
}

.menu li{
  display:   inline-block;



}

menu a {
    display: inline-block;
    border-top: 2px solid #9c8175;
    color:white;
    text-decoration: none;
    padding: 20px 30px;
}


.seznam_1{
    list-style-type:none;
    padding-left: 5px;
   

}

li{
    font-weight: bold;
    padding-bottom: 10px;
    list-style-type: none;
}

.vzdelani{
    padding-top: 100px;
    padding-left:  270px;
}
.menu a:hover, .menu a:focus, .menu a:active {
    background-color: #756158; 
}










    











 
